<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum obcaecati autem explicabo, <br>
        ducimus accusamus nulla, laboriosam cum minima tempore perferendis voluptates. Quod reprehenderit <br>
        alias rem provident similique dolore, placeat at!</p>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
</body>
</html>